@model ICollection<OplachiSe.Web.Models.ComplainViewModel>

@{
    ViewBag.Title = "Home Page";
}



<h1>Оплачи се</h1>
<h2>Мястото, където всяка неправда излиза наяве</h2>
<br/>
<h3>Водещи</h3>
<div class="container">
    <div class="row">
        <div class="col-md-7 jumbotron">
            @Html.DisplayForModel("ListComplain")
        </div>
    </div>
</div>
